@import url("./reset.scss");
@import url("./variables.scss");
@import url("./themes/dark.scss");
@import url("./themes/light.scss");



body, .app {
  background: var(--bg-color);
  color: var(--primary-color);
  
  font: var(--font-xs);

  min-height: 100vh;
  min-width: var(--min-width);
  width: 100%;
}
