@font-face {
  font-family: 'Roboto';
  src: url('../../shared/assets/fonts/Roboto-VariableFont_wdth_wght.woff2') format('woff2-supports-variations'),
    url('../../shared/assets/fonts/Roboto-VariableFont_wdth_wght.woff2') format('woff2');

  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: normal;
  font-display: swap;
}

:root {
  // Fonts
  --font-family-main: "Roboto", sans-serif;

  /* XXL: 60px -> 36px */
  --font-size-xxl: clamp(36px, 2.14vw + 29.1px, 60px);
  --font-size-xxl: clamp(36px, 2.14vw + 29.1px, 60px);
  /* XL: 48px -> 30px */
  --font-size-xl: clamp(30px, 1.61vw + 24.8px, 48px);
  /* LG: 32px -> 24px */
  --font-size-lg: clamp(24px, 0.71vw + 21.7px, 32px);
  /* MD: 20px -> 18px */
  --font-size-md: clamp(18px, 0.18vw + 17.4px, 20px);
  /* SM: 16px -> 15px */
  --font-size-sm: clamp(15px, 0.09vw + 14.7px, 16px);
  /* XS: 14px */
  --font-size-xs: 14px;

  --font-xxl: 700 var(--font-size-xxl)/1.1 var(--font-family-main);
  --font-xl: 700 var(--font-size-xl)/1.15 var(--font-family-main);
  --font-lg: 700 var(--font-size-lg)/1.2 var(--font-family-main);
  --font-md: 500 var(--font-size-md)/1.4 var(--font-family-main);
  --font-sm: 400 var(--font-size-sm)/1.5 var(--font-family-main);
  --font-xs: 400 var(--font-size-xs)/1.5 var(--font-family-main);

  // Z-index
  --header-z-index: 1000;
  --header-burger-z-index: 1001;
  --banner-z-index: 0;
  --banner-bg-z-index: -3;
  --banner-content-bg-z-index: -1;
  --banner-content-elements-z-index: -2;

  // Delay
  --transition-delay: 0.3s;

  // Colors
  --accented-color: rgba(33, 87, 242, 1);

  // Sizes
  --header-height: 100px;
  --container-width-mobile: 280px;
  --container-width-laptop: 1440px;

  --sections-indent: 50px;

  // @Media
  // --wide: 1440px;
  // --desctop: 1240px;
  // --laptop: 1024px; //992px
  // --tablet: 768px;
  // --mobile: 575px;

  --min-width: 320px;
}