:root {
  // Z-index
  --header-z-index: 1000;
  --header-burger-z-index: 1001;
  --banner-z-index: 0;
  --banner-bg-z-index: -2;
  --banner-content-z-index: -1;
  --banner-content-bg-z-index: -1;
  --banner-circle-z-index: -3;

  // Delay
  --transition-delay: 0.3s;

  // Colors
  --accented-color: rgba(33, 87, 242, 1);

  // Sizes
  --header-height: 100px;
  --container-width: 1440px;
}