:root {
  // Z-index
  --header-z-index: 1000;
  --header-burger-z-index: 1001;
  --banner-z-index: 0;
  --banner-bg-z-index: -3;
  --banner-contetn-bg-z-index: -1;
  --banner-contetn-elements-z-index: -2;

  // Delay
  --transition-delay: 0.3s;

  // Colors
  --accented-color: rgba(33, 87, 242, 1);

  // Sizes
  --header-height: 100px;
  --container-width-mobile: 280px;
  --container-width-laptop: 1440px;

  --sections-indent: 50px;
}