.stack {
  padding-top: var(--sections-indent);
  padding-bottom: var(--sections-indent);
}

.title {
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 13px;

  padding: 40px 0 0;
}

.iconWrapper {
  background: var(--bg-color-accented);
  width: 45%;
  height: 90px;
  border-radius: var(--border-radius-m);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding-top: 20px;
  margin: 30px 0 0;
}

.icon {
  position: absolute;
  top: -45%;
  left: 50%;
  transform: translateX(-50%);
}