.stack {
  padding-top: var(--sections-indent);
}

.title {
  text-align: center;
}

.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 100px auto 0;
  // justify-content: center;
  // align-items: center;
  place-items: center;
  row-gap: 50px;

}

.icon {
  // width: 60%;
  // display: flex;
  // justify-content: center;
  // align-items: center;

}

.images {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 13px;
  padding: 40px 0 0;
}

.imageWrapper {
  background: var(--bg-color-accented);
  width: 45%;
  height: 90px;
  border-radius: var(--border-radius-m);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding-top: 20px;
  margin: 36px 0 0;
}

.image {
  position: absolute;
  top: -45%;
  left: 50%;
  transform: translateX(-50%);
}

@media(min-width:1024px) {
  .appIcon {
    &.xl {
      width: 114px;
      height: 114px;
    }
  }
}