.footer {
  margin-top: var(--sections-indent);
  background: var(--bg-color-accented);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
  gap: 8px;
}