.contacts {
  padding: var(--sections-indent) 0;
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  max-width: 992px;
}

.form {
  min-width: 260px;
  max-width: 430px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

 
  border-radius: var(--border-radius-xs);
}

.title {
  text-align: center;
}

.topLine {
  display: flex;
  gap: 20px;
}

.btn {
  min-width: 100px;
  width: fit-content;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item {
  display: flex;
  align-items: center;

  gap: 30px;
}

.icon {
  fill: var(--accented-color);
  width: 72px;
  height: 72px;
}

.socials {
  display: flex;
  justify-content: center;
}

@media (min-width:992px) {
  .container {
    flex-direction: row;
  }
}