.contacts {
  padding: var(--sections-indent) 0;
}

.content {
  // border: 1px solid red;
  min-width: 260px;
  max-width: 430px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  text-align: center;
}

.topLine {
  display: flex;
  gap: 20px;
}

.btn {
  min-width: 100px;
  width: fit-content;
  border-radius: 5px;
}