.appLink {
  display: inline-block;
  cursor: pointer;
  transition: all linear var(--transition-delay);
  text-decoration: none;
  font: var(--font-md);
  width: max-content;

  outline: none;
  border: none;
  text-decoration: none;
  background: none;
  padding: 8px 12px;
  color: var(--primary-color);

  &:hover {
    color: var(--accented-color);
  }

  &.active {
    color: var(--accented-color);
  }
}