.appTextarea {
  background: var(--field-bg);
  padding: 20px 30px;
  border-radius: var(--border-radius-xs);
  outline: none;
  border: 2px solid transparent;
  min-width: 120px;
  resize: none;
  min-height: 150px;
  color: var(--primary-color);

  &::placeholder {
    color: var(--secondary-color);
  }

  &:focus {
    border: 2px solid var(--accented-color);
  }
}