.app_theme_dark {
  // Bg
  --bg-color: #222;
  --bg-color-inverted: #fff;
  --bg-color-accented: rgba(36, 51, 92, 1);

  // Header
  --header-bg-color: rgb(34, 34, 34, 0.9);

  // 
  --primary-color: #fff;
  --secondary-color: #aaa;
  --primary-color-inverted: #222;
  --accented-color: rgba(33, 87, 242, 1);

  --button-outlined-color: rgba(76, 84, 108, 1);
  --card-bg: rgba(53, 53, 53, 1);
  --field-bg: rgba(57, 56, 56, 1);
}