.app_theme_light {
  // Bg
  --bg-color: #efefef;
  --bg-color-inverted: #222;
  --bg-accented-color: rgba(166, 188, 250, 1);
  
  // Header
  --header-bg-color: rgb(255, 255, 255, 0.1);
  
  // 
  ---primary-color: #222;
  --primary-color-inverted: #fff;
  --accented-color: rgba(33, 87, 242, 1);

  // 
  --button-outlined-color:  rgba(166, 188, 250, 1);
}