.app_theme_light {
  // Bg
  --bg-color: #fff;
  --bg-color-inverted: #222;
  --bg-color-accented: rgba(166, 188, 250, 1);
  --bg-color-unaccented: rgba(245, 245, 245, 1);

  // Header
  --header-bg-color: rgb(255, 255, 255, 0.6);

  // 
  --primary-color: #222;
  --secondary-color: #999;
  --primary-color-inverted: #fff;
  --accented-color: rgba(33, 87, 242, 1);
}