.appButton {
  cursor: pointer;
  transition: all linear var(--transition-delay);
  font: var(--font-md);


  &.primary.clear {
    outline: none;
    border: none;
    background: none;
    color: inherit;

    &:hover {
      color: var(--accented-color);
    }
  }

  &.primary.filled {
    border: 3px solid var(--accented-color);
    color: white;
    background: var(--accented-color);

    padding: 4px 24px;
    border-radius: var(--border-radius-s);

    &:hover {
      color: var(--accented-color);
      background: white;
    }
  }

  &.primary.outlined {
    font: var(--font-md);

    border: 3px solid var(--bg-color-accented);
    background: var(--bg-color);
    color: var(--bg-color-inverted);

    border-radius: var(--border-radius-l);
    width: 120px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transition: all linear var(--transition-delay);
      border: 3px solid var(--bg-color-accented);
      background: var(--bg-color-accented);
      color: white;
    }
  }
}