.header {
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--header-z-index);
  background-color: var(--header-bg-color);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.themeIcon {
  color: var(--bg-color-inverted);

  &:hover {
    color: var(--bg-color-accented);
  }
}

.nav {
  position: relative;
}

.list {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: var(--bg-color-accented);

  display: flex;
  flex-direction: column;

  transform: translateY(-100vh);
  transition: all linear var(--transition-delay);

  &>* {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
}

.list {
  &.isVisible {
    display: flex;
    transition: all linear var(--transition-delay);
    transform: translateY(0);
  }
}

.burgerWrapper {
  display: block;
  position: relative;
  z-index: var(--header-burger-z-index);
  cursor: pointer;
  padding: 30px 10px;

  &.isVisible {
    .burger {
      transition: none;
      background: transparent;

      &:before {
        bottom: 0;
        rotate: (45deg);
      }

      &:after {
        top: 0;
        rotate: (-45deg);
      }
    }
  }

}

.burger {
  content: "";
  position: relative;
  z-index: var(--header-burger-z-index);
  display: block;
  height: 4px;
  width: 40px;
  background: var(--bg-color-inverted);

  transition: all linear var(--transition-delay);

  &:before,
  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 40px;
    background: var(--bg-color-inverted);
    left: 0;
    transition: all linear var(--transition-delay);
  }

  &:before {
    bottom: 12px;
  }

  &::after {
    top: 12px;
  }
}

@media (min-width: 575px) {
  .burgerWrapper {
    display: none;
  }

  .list {
    position: static;
    height: fit-content;
    transform: translateY(0);
    background: none;
    flex-direction: row;
  }
}