.appLink {
  display: inline-block;
  cursor: pointer;
  transition: all linear var(--transition-delay);
  text-decoration: none;
  font: var(--font-md);
  width: max-content;

  &.clear {
    outline: none;
    border: none;
    text-decoration: none;
    background: none;
    padding: 8px 12px;
  }

  &.primary.clear {
    color: var(--primary-color);

    &:hover {
      color: var(--accented-color);
    }
  }

  &.primary.filled {
    border: 3px solid var(--accented-color);
    color: white;
    background: var(--accented-color);

    &.m {
      border-radius: var(--border-radius-s);
    }

    &.s {
      border-radius: var(--border-radius-xs);
    }

    &:hover {
      color: var(--accented-color);
      background-color: white;
    }
  }

    &.m {
      padding: 15px 36px;
    }
  
    &.s {
      padding: 5px 10px;
    }
}