.appLink{
  cursor: pointer;

  &.clear {
    outline: none;
    border: none;
    text-decoration: none;
    background: none;
  }
  &.primary {
    color: var(--primary-color)
  }
  // &.primaryInverted {
  //   color: var(--primary-color-inverted);
  // }
  
}