.appLink {
  cursor: pointer;
  transition: all linear var(--transition-delay);

  &.clear {
    outline: none;
    border: none;
    text-decoration: none;
    background: none;
  }

  &.primary {
    color: var(--primary-color);

    &:hover {
      color: var(--accented-color);
    }

  }


  // &.primaryInverted {
  //   color: var(--primary-color-inverted);
  // }

}